:root {
  --colorPrimary: #e99e09;
  --borderNarbar: #e99e09;
  --bgSidebar1: #eda109;
  --bgSidebar2: #E5E5E5;
  --headerTable: #e99e09;
  --btn-bg1: #db9806;
  --btn-bg2: #ddbf5c;
  --btn-bg-green: #169d00;
  --color-text-table: #3F474B;
  --color-text: #3F474B;
  --color-text-light: #797e81;
  --bg-navtap-active: #f8dd9d;
  --bg-header: #db9806;
  --blackTxt: #000000;
  --blackMediumTxt: #2d2d2d;
  --whiteTxt: #FFFFFF;
}
